# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Docker Test

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Build Image
      run: docker compose build

    - name: Setup Server
      run: docker compose up server -d

    - name: Run .NET Client
      run: docker compose up dotnetclient
    
    - name: Run Go Client
      run: docker compose up goclient

    - name: Shutdown Server
      run: docker compose down server
